/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #947ecd;
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}


.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

h1 {
  color: #681414;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  height: 30px;
  padding: 0 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.completed {
  text-decoration: line-through;
}

